<div class="row">
    <div class="col-xs-12">
        <a ng-click="saveAndReturn()" class="btn icon pull-left padding-20 size-18"><i class="modellyicon-arrow-left"></i></a>
    </div>
    <div class="col-xs-12 empty-list padding-40 padding-top-24">
        <p class="margin-bottom-20"><i class="modellyicon-strawberry blue size-3x"></i></p>
        <p class="margin-bottom-20">My Secrets</p>
        <p class="font-book">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo risus, sagittis at tincidunt</p>
    </div>
    <div class="col-xs-12 margin-top-10">
        <ul class="account-menu round">
            <li>

                <div class="slabel">Height</div>
                <div class="svalue"><input ng-model="profile.height" type="text" class="editInput" style="width: 50%" /> cm<a class="edit pull-right"><i class="modellyicon-edit blue"></i></a></div>
            </li>
            <li>
                <div class="slabel">Breast Size</div>
                <div class="svalue"><input ng-model="profile.breast" class="editInput" style="width: 50%" /><a class="edit pull-right"><i class="modellyicon-edit blue"></i></a></div>
            </li>
            <li>
                <div class="slabel">Shaved</div>
                <div class="svalue">
                    <a href="#" class="edit pull-right"><i class="modellyicon-edit blue"></i></a>
                    <div class="pull-right selectcontainer">
                        <div class="selectvalue">{{profile.shaved}}</div>
                        <select class="text-right pull-right editInput selectdisplay" ng-model="profile.shaved">
                            <option value="no">no</option>
                            <option value="full">fully</option>
                        </select>
                    </div>
                </div>

            </li>
            <li>
                <div class="slabel">Tatoos</div>
                <div class="svalue">
                    <div class="btn-group btn-toggle">
                        <label>{{profile.tatoos ? 'Yes' : 'No'}}</label>
                        <input type="checkbox" ng-model="profile.tatoos" class="iostoggle" name="toggle">
                        <span></span>
                    </div>
                </div>
            </li>
            <li>

                <div class="slabel">Piercing</div>
                <div class="svalue">
                    <div class="btn-group btn-toggle">
                        <label>{{profile.piercing ? 'Yes' : 'No'}}</label>
                        <input type="checkbox" ng-model="profile.piercing" class="iostoggle" name="toggle">
                        <span></span>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>