<div class="popup">
    <div class="container padding-0" id="main-container">
        <div class="row">
            <div class="col-xs-12">
                <a ng-click="close()" class="btn icon pull-right padding-20 size-18"><i class="modellyicon-close"></i></a>
            </div>
            <div class="col-xs-12 empty-list padding-40 padding-top-66">
                <p class="margin-bottom-20"><i class="modellyicon-lock blue size-3x"></i></p>
                <p class="margin-bottom-20">You Need to be Signed Up</p>
                <p class="font-book">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo risus, sagittis at tincidunt</p>
            </div>
            <div class="col-xs-12 padding-20">

                <div class="col-xs-12 margin-bottom-8">
                    <a class="btn btn-lg" ng-click="openUser()">I'm a User</a>
                </div>
                <div class="col-xs-12 margin-bottom-8">
                    <a class="btn btn-lg" ng-click="openModel()">I'm a Model</a>
                </div>
                <div class="col-xs-12">
                    <p class="text-center padding-top-54 padding-bottom-54 font-book">Already have an account?  <a ng-click="openConnect()"><b>Connect</b></a></p>
                </div>

            </div>
        </div>
    </div>
</div> 