<div class="popup">
    <div class="container padding-0" id="main-container">
        <div class="row">
            <div class="col-xs-12 terms" style="height:400px">
                <h3>General Terms and Conditions</h3>



                <p>The following General Terms and Conditions apply for the use of online games from Plinga GmbH (“Plinga” or “we”) and their use by you (“player” or “you”) both on our website (e.g. www.plinga.com) and on the websites of third parties such as game portals, news portals or as an applications (App) in social networks (e. g. Facebook) regardless of the country from which you use the service. In addition, the rules of each particular online game are also applicable. Terms and conditions deviating from these terms and conditions are not accepted. You may not use our services if you do not agree to the foregoing.</p>

                <p>
                <h3>G1. Prerequisites for participation, conclusion of the agreement</h3>
                <ul>
                    <li>1.1. Only adults and fully legally competent individuals are eligible to participate.</li>
                    <li>1.2 Laws to which you are subject must permit you to play our games. If this is not the case, you are not allowed to use our services. When using our games, you have to comply with all the laws that apply in the country and/or federal state of your residence. In particular, you acquire no contractual rights if you use our services when the laws and regulations to which you are subject prohibit you from playing our games or when you have not yet reached the minimum required age provided in the laws of your country, i.e. your actions are contrary to the law.
                    </li>
                    <li>1.3 A contractual relationship between you and Plinga is only then established when Plinga has confirmed a contract pursuant to section 2.1. Plinga may refuse to affirm the agreement without providing grounds therefore. The contractual relationship is governed by the provisions of these General Terms and Conditions. In addition, the game rules agreed in the context of participation in the individual games, and other terms and conditions agreed to (e.g. prices for virtual goods confirmed as part of an order placed by you if applicable), are applicable.
                    </li>
                    <li>1.4 You must fill all required fields in the game completely and correctly. If the information submitted by you changes following registration, you are obliged to correct this data immediately. The same applies to your information submitted in social networks which is transferred from the network for use in executing the respective game (e.g. your user name). For this purpose, please consider the data privacy notices as well.</li>
                    <li>1.5 The following rules apply in the event you use a user name as well as a password: The user name may not be identical to an e-mail or Internet address. It may not violate any third party rights or offend public morals. For security reasons, the password submitted by you may not be identical to the user name. You must keep your password secret and by no means may it be disclosed to a third party. You shall be liable for any damages and other consequences resulting from game play and/or dispositions by an unauthorized third party who gains knowledge of your password as a result of a breach of your duty of care.</li>
                    <li>1.6 You are not permitted to register more than once and/or maintain or have more than one player account. The contractual relationship and possible claims of the player from this are not transferable.</li>
                    <li>1.7 Plinga reserves the right to make use of particular games conditional upon the fulfillment of other prerequisites such as, for example, minimum age, record of payment, number of already (if required) game rounds played and/or other games or special rules of the games.</li>
                    <li>1.8 You must have Internet access in order to play our games and you are responsible for the currency and adequacy of your hardware and software. To the extent you play our games on a social network (e.g. Facebook), you are also accordingly responsible for your membership in these networks and the use of them.</li>
                </ul>
                </p>


            </div>
            <div class="col-xs-12 padding-20">

                <div class="col-xs-12 margin-top-30">
                    <a ng-click="termsAgree(true)" class="btn btn-lg">I Agree To The Terms & Conditions</a>
                </div>
                <div class="col-xs-12 padding-top-30 ">
                    <p class="text-center font-book padding-bottom-30"><a ng-click="termsAgree(false)" class="red">If you don't agree with these Terms, then please click here.</a></p>
                </div>

            </div>
        </div>
    </div>
</div>