<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Modelly App</title>

  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="cleartype" content="on">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/modelly.css" rel="stylesheet">
</head>
<body class="home blur">
<div class="container">
    
    <div class="row absolute full top">
        <div class="col-xs-8 col-xs-offset-2 margin-top-32 text-center">
			<p class="font-header">Creat any username what you want<br> and choose avatar.</p>
        </div>
    </div>
    
    <div class="row absolute full top25">
    <form role="form">
    	<div class="col-xs-12">
        	<div class="form-group">
                <div class="user-avatar">
                            <input class="hidden" type="file">

                        </div>
            </div>
        </div>
        <div class="col-xs-12 margin-top-20 margin-bottom-66">
        	<div class="form-group has-feedback has-feedback-left">
        		<input type="text" class="form-control line" placeholder="Username" />
                <i class="form-control-feedback modellyicon-email"></i>
            </div>
        </div>
        <div class="col-xs-4 text-left">
          <a href="0.3.1.home.html" class="blue padding-10">Back</a>
        </div>
        <div class="col-xs-4 text-center">
              <ul class="progress">
                      <li></li>
                      <li class="active"></li>
                      <li></li>
              </ul>
        </div>
        <div class="col-xs-4 text-right">
          <a href="0.3.2.home_b.html" class="blue padding-10">Next</a>
        </div>
    </form>
	</div> 
</div>     
</body>
</html>
