<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Modelly App</title>

  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="cleartype" content="on">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/modelly.css" rel="stylesheet">
</head>
<body class="white topnav">
<nav role="navigation" class="navbar navbar-fixed-top">
      <div class="navbar-brand">Your Gifts</div>
      <div class="navbar-collapse">
        <ul class="nav navbar-nav nav-pills pull-left">
            <li><a href="#" class="btn icon"><i class="modellyicon-arrow-left"></i></a></li>
        </ul>
      </div>
    </nav>
<div class="container" id="main-container">
    <div class="row">
        <div class="col-xs-12">

        		<ul class="timeline">
                        <li>
                           <div class="user-avatar"> <img src="img/samples/photo-1.jpg" alt=""> </div>
                           <h3 class="title"><i class="modellyicon-gift"></i> bilyalovasveta just for you</h3>
                           <span class="date">7 minutes ago</span>
                           <div class="photo">
                               <img src="img/samples/photo-girl-640x640.jpg">
                               <span class="status">
                                   <i class="modellyicon-thank"></i>Thank!
                               </span>
                           </div>
                        </li>
                        
                  </ul>
</div>
</div>
       
</body>
</html>