<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Modelly App</title>

  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="cleartype" content="on">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/modelly.css" rel="stylesheet">
</head>
<body class="white">
<nav role="navigation" class="navbar transparent">
      <div class="navbar-collapse">
        <ul class="nav navbar-nav nav-pills pull-left">
            <li><a href="#" class="btn icon"><i class="modellyicon-arrow-left"></i></a></li>
        </ul>
      </div>
</nav>
<div class="container padding-0" id="main-container">
    <div class="row">
        <div class="col-xs-12 empty-list padding-40 padding-top-24">
               <h2 class="logo full margin-bottom-32">MODELLY</h2>
               <p class="font-book">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac diam. Morbi sed consectetur lacus, at aliquam erat. </p>
               <p class="font-book">Suspendisse egestas est vel turpis vestibulum, ut iaculis ligula vestibulum. Sed malesuada tincidunt urna, id porttitor nisi iaculis</p>                         	
        </div>
        <div class="col-xs-12 margin-top-10">
			<ul class="account-menu more round">
            	<li><a href="#" class="more">Feedback and Support</a></li>
            	<li><a href="#" class="more">Privacy Policy</a></li>
                <li><a href="#" class="more">Terms</a></li>
            	<li><a href="#" class="more">Twitter <span class="pull-right">@modelly</span></a></li>
            </ul>
        		
		</div>
	</div>
</div>        
</body>
</html>
