<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Modelly App</title>

  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="cleartype" content="on">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/modelly.css" rel="stylesheet">
</head>
<body class="white topnav">
<nav role="navigation" class="navbar navbar-fixed-top">
      <div class="navbar-brand">My Settings</div>
      <div class="navbar-collapse">
        <ul class="nav navbar-nav nav-pills pull-left">
            <li><a href="#" id="menuu" class="btn icon"><i class="modellyicon-menu"></i></a></li>
        </ul>
      </div>
      <div class="header-panel small hidden">
              <ul class="inline-menu items-3">
                  <li><a href="#"><i class="modellyicon-feed blue"></i> Newsfeed</a></li>
                  <li><a href="#"><i class="modellyicon-discover blue"></i> Discovery</a></li>
                  <li><a href="#"><i class="modellyicon-settings blue"></i> Settings </a></li>
              </ul>
      </div>
</nav>
<div class="container padding-0" id="main-container">
    <div class="row">
        <div class="col-xs-12">
                <div class="photo320 info">
                <img src="img/samples/photo-girl-640x640.jpg">
				<div class="account-left">hughjackman</div>
                <div class="account-right"><a href="#" class="btn-edit"><i class="modellyicon-edit blue"></i></a></div>
                </div>
        </div>
        <div class="col-xs-12">
			<ul class="account-menu full">
            	<li><a class="more" href="#" ><i class="modellyicon-discover blue"></i>Discovery Settings</a></li>
                <li><a class="more" href="#" ><i class="modellyicon-profile blue"></i>My Info</a></li>
                <li><a class="more" href="#" ><i class="modellyicon-account blue"></i>My Account</a></li>
                <li><a class="more" href="#" ><i class="modellyicon-book blue"></i>About App</a></li>
                <li><a class="more" href="#" ><i class="modellyicon-logout blue"></i>Log Out</a></li>
            </ul>
        		
		</div>
	</div>
</div>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript">
		$(function() {

		$("#menuu").on( "click", function() {		    
		  $(".header-panel").toggleClass('hidden');
		  if($("i",this).hasClass("modellyicon-menu")){ 
		  	$("i",this).removeClass("modellyicon-menu").addClass("modellyicon-close");
		  }else{
			$("i",this).removeClass("modellyicon-close").addClass("modellyicon-menu");  
		  } 
		});		

		});

        </script>        
</body>
</html>
