<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Modelly App</title>

  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="cleartype" content="on">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/modelly.css" rel="stylesheet">
</head>
<body class="white topnav">
<nav role="navigation" class="navbar navbar-fixed-top filter-blur">
      <div class="navbar-brand">Followers</div>
      <div class="navbar-collapse">
        <ul class="nav navbar-nav nav-pills pull-left">
          <li><a href="#" id="menuu" class="btn icon"><i class="modellyicon-menu"></i></a></li>
        </ul>
        <ul class="nav navbar-nav nav-pills pull-right">
          <li><a class="btn has-messages" href="#"><i class="modellyicon-gift"></i></a></li>
        </ul>
      </div>
      <div class="header-panel small hidden">
                    <ul class="inline-menu items-3">
                        <li><a href="#"><i class="modellyicon-feed blue"></i> Newsfeed</a></li>
                        <li><a href="#"><i class="modellyicon-discover blue"></i> Discovery</a></li>
                        <li><a href="#"><i class="modellyicon-settings blue"></i> Settings </a></li>
                    </ul>
                </div>
    </nav>
    
<div class="container filter-blur" id="main-container">
    <div class="row">
        <div class="col-xs-12">
        		<div class="newsfeed-header"><img alt="" src="img/samples/photo-1.jpg"> you following <b>356</b> models</div>
		</div>
		<div id="option1" class="col-xs-12">

                <ul class="timeline">
                        <li>
                           <div class="user-avatar"> <img src="img/samples/photo-girl-640x640.jpg" alt=""> </div>
                           <h3 class="title">gorodgrexov posted new photo</h3>
                           <span class="date">7 minutes ago</span>
                           <div class="photo">
                               <img src="img/samples/photo-girl-640x640.jpg">
                               <span class="status">
                                   <i class="modellyicon-hearth"></i>2784
                               </span>
                           </div>
                        </li>
                         
                  </ul>
	 </div>
</div>
</div>




<div class="popup">
    <div class="container padding-0" id="main-container">
        <div class="row">
            <div class="col-xs-12">
                <a href="#" class="btn icon pull-right padding-20 size-18"><i class="modellyicon-close"></i></a>
            </div>
        </div>
       <div class="row absolute full bottom padding-20">
          <div class="col-xs-12 margin-bottom-8">
            <a href="" class="btn btn-lg">Take shot</a>
          </div>
          <div class="col-xs-12">
            <a href="" class="btn btn-lg">Choose from gallery</a>
          </div>
          <div class="col-xs-12 padding-top-20">
          	<p class="pull-left margin-0 font-book">Add new moment</p>
            <a href="" class="btn circle-small pull-right"><i class="modellyicon-pointer"></i></a>
            <a href="" class="btn rount-small pull-right margin-right-10"><i class="modellyicon-camera"></i></a>
            
          </div> 
        </div>
    </div>    
</div> 

</body>
</html>
