<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Modelly App</title>

  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="cleartype" content="on">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/modelly.css" rel="stylesheet">
</head>
<body class="white topnav">
<nav role="navigation" class="navbar navbar-fixed-top">
      <div class="navbar-brand">Me</div>
      <div class="navbar-collapse">
        <ul class="nav navbar-nav nav-pills pull-left">
            <li><a href="#" id="noty" class="btn has-messages"><i class="modellyicon-bell"></i></a></li>
        </ul>
        <ul class="nav navbar-nav nav-pills pull-right">
          <li><a href="#" class="btn"><i class="modellyicon-settings"></i></a></li>
        </ul>
      </div>
      <div class="settings-page header-panel hidden">
                        <ul class="notifications-list">
                            <li>
                                <div class="user-avatar"> <img alt="" src="img/samples/photo-1.jpg"> </div>
                                <div class="content">
                                    <h4>maxvoltar liked your photo</h4>
                                    <small><i class="modellyicon-hearth red"></i> 24 years, 5 moments</small>
                                </div>
                                <div class="photo">
                                	<img alt="" src="img/samples/photo-1.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="user-avatar"> <img alt="" src="img/samples/photo-1.jpg"> </div>
                                <div class="content">
                                    <h4>julienrenvoye followed you</h4>
                                    <small><i class="modellyicon-checkbox blue"></i> 24 years, 5 moments</small>
                                </div>
                            </li>
                                                        <li>
                                <div class="user-avatar"> <img alt="" src="img/samples/photo-1.jpg"> </div>
                                <div class="content">
                                    <h4>maxvoltar liked your photo</h4>
                                    <small><i class="modellyicon-hearth red"></i> 24 years, 5 moments</small>
                                </div>
                                <div class="photo">
                                	<img alt="" src="img/samples/photo-1.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="user-avatar"> <img alt="" src="img/samples/photo-1.jpg"> </div>
                                <div class="content">
                                    <h4>julienrenvoye followed you</h4>
                                    <small><i class="modellyicon-checkbox blue"></i> 24 years, 5 moments</small>
                                </div>
                            </li>
                                                        <li>
                                <div class="user-avatar"> <img alt="" src="img/samples/photo-1.jpg"> </div>
                                <div class="content">
                                    <h4>maxvoltar liked your photo</h4>
                                    <small><i class="modellyicon-hearth red"></i> 24 years, 5 moments</small>
                                </div>
                                <div class="photo">
                                	<img alt="" src="img/samples/photo-1.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="user-avatar"> <img alt="" src="img/samples/photo-1.jpg"> </div>
                                <div class="content">
                                    <h4>julienrenvoye followed you</h4>
                                    <small><i class="modellyicon-checkbox blue"></i> 24 years, 5 moments</small>
                                </div>
                            </li>
                                                        <li>
                                <div class="user-avatar"> <img alt="" src="img/samples/photo-1.jpg"> </div>
                                <div class="content">
                                    <h4>maxvoltar liked your photo</h4>
                                    <small><i class="modellyicon-hearth red"></i> 24 years, 5 moments</small>
                                </div>
                                <div class="photo">
                                	<img alt="" src="img/samples/photo-1.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="user-avatar"> <img alt="" src="img/samples/photo-1.jpg"> </div>
                                <div class="content">
                                    <h4>julienrenvoye followed you</h4>
                                    <small><i class="modellyicon-checkbox blue"></i> 24 years, 5 moments</small>
                                </div>
                            </li> 
                                                        <li>
                                <div class="user-avatar"> <img alt="" src="img/samples/photo-1.jpg"> </div>
                                <div class="content">
                                    <h4>maxvoltar liked your photo</h4>
                                    <small><i class="modellyicon-hearth red"></i> 24 years, 5 moments</small>
                                </div>
                                <div class="photo">
                                	<img alt="" src="img/samples/photo-1.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="user-avatar"> <img alt="" src="img/samples/photo-1.jpg"> </div>
                                <div class="content">
                                    <h4>julienrenvoye followed you</h4>
                                    <small><i class="modellyicon-checkbox blue"></i> 24 years, 5 moments</small>
                                </div>
                            </li>
                                                        <li>
                                <div class="user-avatar"> <img alt="" src="img/samples/photo-1.jpg"> </div>
                                <div class="content">
                                    <h4>maxvoltar liked your photo</h4>
                                    <small><i class="modellyicon-hearth red"></i> 24 years, 5 moments</small>
                                </div>
                                <div class="photo">
                                	<img alt="" src="img/samples/photo-1.jpg">
                                </div>
                            </li>
                            <li>
                                <div class="user-avatar"> <img alt="" src="img/samples/photo-1.jpg"> </div>
                                <div class="content">
                                    <h4>julienrenvoye followed you</h4>
                                    <small><i class="modellyicon-checkbox blue"></i> 24 years, 5 moments</small>
                                </div>
                            </li>  
                        </ul>
                        <div class="row empty-notifications-list ">
                        	 <p class="margin-bottom-28 margin-top-100"><i class="modellyicon-bell blue"></i></p>
                             <p class="margin-bottom-28">You haven't got Any<br>Notification Yet</p>
                             <p class="font-book">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo risus, sagittisat tincidunt</p>   	
                        </div>
      </div>
</nav>
<div class="container padding-0" id="main-container">

    <div class="row">
        <div class="col-xs-12">
        	<div class="photo320 info">
            <img src="img/samples/photo-girl-640x640.jpg" />
            <ul class="stats">
              <li>6754<small>Followers</small></li>
              <li>26<small>Moments</small></li>
            </ul> 
            </div>
        </div>
         <div class="col-xs-12">
            <ul class="flat-menu">
                <li class="active" id="s_op_1">Moments</li>
                <li id="s_op_2">About</li>
            </ul>
         </div>   
	 <div class="col-xs-12" id="option1">

                <ul class="timeline">
                        <li>
                           <div class="user-avatar"> <img alt="" src="img/samples/photo-1.jpg"> </div>
                           <h3 class="title">you posted new photo</h3>
                           <span class="date">7 minutes ago</span>
                           <div class="photo">
                               <img src="img/samples/photo-girl-640x640.jpg">
                               <span class="status">
                                   <i class="modellyicon-hearth"></i>2784
                               </span>
                           </div>
                           <div class="location">
                               <i class="modellyicon-pointer icon-bg-white blue pull-left"></i>
                               <strong class="name">Sweat Home</strong>
                               <span class="place">Moscow, Kievskaya str.</span>
                           </div>
                        </li>
                        <li>
                           <div class="user-avatar"> <img alt="" src="img/samples/photo-1.jpg"> </div>
                           <h3 class="title"><i class="modellyicon-gift"></i> you just for hughjackman</h3>
                           <span class="date">7 minutes ago</span>
                           <div class="photo">
                               <img src="img/samples/photo-girl-640x640.jpg">
                               <span class="status">
                                   <i class="modellyicon-thank"></i>Thanked
                               </span>
                           </div>
                        </li>
                                                <li>
                           <div class="user-avatar"> <img alt="" src="img/samples/photo-1.jpg"> </div>
                           <h3 class="title">you posted new photo</h3>
                           <span class="date">7 minutes ago</span>
                           <div class="photo">
                               <img src="img/samples/photo-girl-640x640.jpg">
                               <span class="status">
                                   <i class="modellyicon-hearth"></i>27
                               </span>
                           </div>
                           <div class="location">
                               <i class="modellyicon-pointer icon-bg-white blue pull-left"></i>
                               <strong class="name">Sweat Home</strong>
                               <span class="place">Moscow, Kievskaya str.</span>
                           </div>
                        </li>
                                                <li>
                           <div class="user-avatar"> <img alt="" src="img/samples/photo-1.jpg"> </div>
                           <h3 class="title">you posted new photo</h3>
                           <span class="date">7 minutes ago</span>
                           <div class="photo">
                               <img src="img/samples/photo-girl-640x640.jpg">
                               <span class="status">
                                   <i class="modellyicon-hearth"></i>1001
                               </span>
                           </div>
                           <div class="location">
                               <i class="modellyicon-pointer icon-bg-white blue pull-left"></i>
                               <strong class="name">Sweat Home</strong>
                               <span class="place">Moscow, Kievskaya str.</span>
                           </div>
                        </li>
                                                <li>
                           <div class="user-avatar"> <img alt="" src="img/samples/photo-1.jpg"> </div>
                           <h3 class="title">you posted new photo</h3>
                           <span class="date">7 minutes ago</span>
                           <div class="photo">
                               <img src="img/samples/photo-girl-640x640.jpg">
                               <span class="status">
                                   <i class="modellyicon-hearth"></i>2784
                               </span>
                           </div>
                        </li>
                  </ul>
	 </div>
     <div class="col-xs-12 about-me padding-left-20 padding-right-20" id="option2" style="display:none;">
                        <ul class="parms padding-top-32">
                            <li>
                                <div class="parm">From</div>
                                <div class="value">Russian Federation</div>
                            </li>
                            <li>
                                <div class="parm">I Speak</div>
                                <div class="value">Russian, English</div>
                            </li>
                        </ul>
                        <h4 class="title">
                            <i class="modellyicon-strawberry blue"></i>
                            My secrets
                        </h4>
                        <ul class="parms padding-bottom-20">
                            <li>
                                <div class="parm">Height</div>
                                <div class="value">1,82 сm</div>
                            </li>
                            <li class="parameter">
                                <div class="parm">Breast Size</div>
                                <div class="value">90C</div>
                            </li>
                            <li class="parameter">
                                <div class="parm">Shaved</div>
                                <div class="value">Full</div>
                            </li>
                            <li class="parameter">
                                <div class="parm">Tatoos</div>
                                <div class="value">Yes</div>
                            </li>
                            <li class="parameter">
                                <div class="parm">Piercing</div>
                                <div class="value">No</div>
                            </li>

                        </ul>
     </div>
                 <div class="col-xs-12 users-share">
                      <p class="pull-left">Add new moment</p>
                      <ul class="pull-right">
                          <li class="blue"><a href="#"><i class="modellyicon-camera blue"></i></a></li>
                          <li class="blue"><a href="#"><i class="modellyicon-pointer blue"></i></a></li>
                      </ul>
                 </div>
	</div>
</div>
        <script type="text/javascript" src="js/jquery.js"></script>

        <script type="text/javascript">
		$(function() {
		$("#s_op_1").on( "click", function() {
		  $(".flat-menu li").removeClass("active");
		  $(this).addClass("active");
		  $("#option2").hide();
		  $("#option1").show();
		  
		});
		$("#s_op_2").on( "click", function() {		    
		  $(".flat-menu li").removeClass("active");
		  $(this).addClass("active");	
		  $("#option1").hide();
		  $("#option2").show();
		});
		
		$("#noty").on( "click", function() {		    
		  $(".header-panel").toggleClass('hidden');
		  $("#main-container").toggleClass('filter-blur'); 
		});		

});

        </script>   
          
</body>
</html>
