<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Modelly App</title>

  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="cleartype" content="on">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/modelly.css" rel="stylesheet">
</head>
<body class="white">
<nav role="navigation" class="navbar transparent" style="display:none;">
      <div class="navbar-collapse">
        <ul class="nav navbar-nav nav-pills pull-left">
            <li><a href="#" class="btn icon"><i class="modellyicon-arrow-left"></i></a></li>
        </ul>
      </div>
</nav>
<div class="container padding-0" id="main-container">
    <div class="row">
    	<div class="col-xs-12">
        	<a href="#" class="btn icon pull-left padding-20 size-18"><i class="modellyicon-arrow-left"></i></a>
        </div>
        <div class="col-xs-12 empty-list padding-40 padding-top-24">
               <p class="margin-bottom-20"><i class="modellyicon-strawberry blue size-3x"></i></p>
               <p class="margin-bottom-20">My Secrets</p>
               <p class="font-book">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed leo risus, sagittis at tincidunt</p>                           	
        </div>
        <div class="col-xs-12 margin-top-10">
			<ul class="account-menu round">
            	<li>
                	
                    <div class="slabel">Height</div>
                    <div class="svalue">1,82cm <a href="#" class="edit pull-right"><i class="modellyicon-edit blue"></i></a></div>
                </li>
            	<li>
                    <div class="slabel">Breast Size</div>
                    <div class="svalue">90C <a href="#" class="edit pull-right"><i class="modellyicon-edit blue"></i></a></div>
                </li>
                <li>
                	
                    <div class="slabel">Shaved</div>
                    <div class="svalue">Full <a href="#" class="edit pull-right"><i class="modellyicon-edit blue"></i></a></div>
                </li>
                <li>
                    <div class="slabel">Tatoos</div>
                    <div class="svalue">
                      <div class="btn-group btn-toggle"> 
                        <label>Yes</label>
                        <input type="checkbox" class="iostoggle" name="toggle">
                        <span></span>
                      </div>
                    </div>
                </li>
                <li>
                	
                    <div class="slabel">Piercing</div>
                    <div class="svalue">
                    	<div class="btn-group btn-toggle"> 
                        	<label>No</label>
                            <input type="checkbox" class="iostoggle" name="toggle">
                        	<span></span>
                      	</div>
                      </div>
                </li>
            </ul>
        		
		</div>
	</div>
</div>       
</body>
</html>
