<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Modelly App</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/modelly.css" rel="stylesheet">
</head>
<body class="home blur">
<!-- Wrap all page content here -->
<div id="wrap">
  
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      

    </div>
  </div>
  
  <!-- Begin page content -->
  <div class="center-container">
    
    <div class="center-row">
    
      <div class="col-xs-6"></div>
      <div class="col-xs-6"></div>
    
    </div>
    
    <div class="center-row">
    
      <div class="col-xs-12">
      	<a href="#" class="btn btn-lg">I'm a User</a>                
      </div>
      <div class="col-xs-12">
      	<a href="#" class="btn btn-lg">I'm a Model</a>
      </div>
      <div class="col-xs-12">
      	<p href="#" class="preview">Don't want to sign up? <b>Get In</b></p>
      </div>
    
    </div>
    
  </div>
  
</div>

<div id="footer">
  <div class="container">
    <p>&nbsp;</p>
    <p class="lead">This Bootstrap layout was made @<a href="">Bootply.com</a></p>
  </div>
</div>
       
</body>
</html>
