<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Modelly App</title>

  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="cleartype" content="on">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/modelly.css" rel="stylesheet">
</head>
<body class="home">
<div class="container">
    
    <div class="row absolute full top">
        <div class="col-xs-12 margin-top-50 text-center">
            <p class="font-header">App files are loading...<br>It can takes several minutes</p>
        </div>
    </div>
    
    <div class="row absolute full top50 text-center">
    	<div class="col-xs-12 preloader">
		<img src="img/preloader.png" >
        </div>
	</div>
	<div class="row absolute full bottom padding-bottom-30">
            <div class="col-xs-12 text-center">
              <ul class="progress">
                      <li class="active"></li>
                      <li class="active"></li>
                      <li class="active"></li>
              </ul>
        </div>
    </div> 

  
</div>     
</body>
</html>
